# Dependencies
/node_modules
/packages

# Rider
.idea/
*.sln.DotSettings.user

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Secrets
appsettings.Development.json

# Other
*.DS_Store

# Ignorar credenciais do Google Cloud
src/backend/gcloud-credentials.json