.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* Ocupa 100% da altura da tela */
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}